<div class="block">
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a href="{{ paginationData.href.previous }}" class="pagination-previous {% if paginationData.href.previous == null %} is-disabled {% endif %}">Previous</a>
    <a href="{{ paginationData.href.next }}" class="pagination-next {% if paginationData.href.next == null %} is-disabled {% endif %}">Next</a>
    <ul class="pagination-list">
      {% for page in paginationData.hrefs %}
      <li>
        <a class="pagination-link {% if paginationData.pageNumber == forloop.index0 %} is-current {% endif %}" href="{{ paginationData.hrefs[ forloop.index0 ] }}" {% if paginationData.pageNumber == forloop.index0 %} aria-current="page" {% endif %}>{{ forloop.index }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>