  .pagination {
    margin: 2rem;
  }

  .posts .card:first-of-type {
    margin-top: 3rem;
  }

  .posts .card {
    margin-bottom: 5rem;
  }

  .posts .card-link {
    text-decoration: none;
    color: inherit;
  }

  .posts .card:hover {
    filter: brightness(115%);
    transition: filter 0.3s;
  }

  .posts .card-footer a:hover {
    filter: brightness(200%);
    transition: filter 0.3s;
    text-decoration: underline;
  }

  .body {
    padding-bottom: 3rem;
  }