{% layout 'layouts/base.html' %}

{% block body %}
<div class="container is-max-desktop">
  {% if heroImage %}
  <figure class="image is-6by2">
    <img src="{{ heroImage }}" alt="hero image">
  </figure>
  {% else %}
  <section class="hero {%if titleCentered %} has-text-centered {%endif%}">
      <div class="hero-body">
        <p class="title">{{ title }}</p>
        <p class="subtitle">{{ subtitle }}</p>
        {% if readingTimeOff %}
        {% else %}
        <small></small><strong>About {{ content | readingTime }} reading time</strong></small>
        {% endif %}
      </div>
  </section>
  {% endif %}


  <div class="content">
    {{ content }}
  </div>
</div>
{% endblock %}